<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/20181CSE0345/blob/main/1_Basics_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#A variable is a named container that stores data in pyhton
toyBox = 'Car'
print(toyBox)
toyBox = 'Bike'
print(toyBox)

Car
Bike

In [ ]:
print(toyBox)

Bike

In [ ]:
#Data types are kinds of values we can store inside the variables
# 1 - numbers (int, float)
age = 25
print(age)

# 2 - strings (words/ text)
name = "Manoj"
print(name)

# 3  - Booleans (True / False)
is_happy = True
print(is_happy)

"""4 - Lists [ ] - An ordered collection, written with brackets [ ]
            - Mutable:can change, add, or remove elements
            - allows duplicates- can store same values more than once
            - Heterogeneous - can store diffirent data types together"""

toys = ['Cars', 'Bikes','guns', 'planes']
print(toys)



""" 5 - dictonaries{ Key : value } - (like real dictonaries) - stores data in key value pairs { }
                    - ordered
                    - mutable
                    - Keys must be unique - value can repeat"""
student = {
    "name" : "Manoj",
    "age" : 25,
    "grade" : "A"
}
print(student)

""" 6 - Tuple( ) - ordered
              - immutable
              - Heterogeneous
              - Allows duplicates"""

num = (1, 2, 3, "Mango", True)
print(num)

""" 7 set - UnOrdered
          - mutable
          - unique items """

set1 = {1, 2, 3, "Manoj", True}
print(set1)

25
Manoj
True
['Cars', 'Bikes', 'guns', 'planes']
{'name': 'Manoj', 'age': 25, 'grade': 'A'}
(1, 2, 3, 'Mango', True)
{1, 2, 3, 'Manoj'}

In [ ]:
#Type Casting

# int() - convert to integers
x = int(2.1)
y = int("2")

print(x, y)

# float() - convert to float
x = float(2)
y = float("2.7")
print(x, y)

#str() - convert to string
x = str(21)
y = str(2.1)
print(x, y)

#bool - convert to Boolean
x = bool(0)
y = bool(1)
z = bool(2)
a = bool("")
print  (x, y, z, a)

#list(), tuple(), set() - convert between collections
x = list((1, 2, 3, 4))
y = tuple([1, 2, 3,4])
z = set((1, 2, 3,4))
print(x, y, z)

# implicit casting - done automatically by python
x = 21
y = 2.7
z = x + y
print(z)

# explicit type casting - done manually using int(), float()
x = "21"
y = int(x)
print(y + 10)

2 2
2.0 2.7
21 2.1
False True True False
[1, 2, 3, 4] (1, 2, 3, 4) {1, 2, 3, 4}
23.7
31

In [ ]:
# input and output

name = input("What is your name: ")
print("Hello", name)

age = int(input("what's your age : "))
print("Age is ", age)


# Formatted output
print(f"Hello {name}, age is {age}")

What is your name: Manoj
Hello Manoj
what's your age : 21
Age is  21
Hello Manoj, age is 21

In [ ]:
"""Arithmetic Operators
            + Addition
            - Subtraction
            * Multiplication
            / Division
            % Modulus
            ** Exponentiation
            // Floor Division
"""
x, y = 10,2
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

5.0
5
0
100

In [ ]:
""" Logical operators (True / False logic)
            and - returns true if both statements are tue
            or - returns true if atleast one statement is true
            not - reverse the result, Reverse True/False
"""

In [ ]:
#Conditions

#Basic if statement

x = 10

if x > 2:
  print("x is greater than", 2)


#if-else statement
x = 10
if x > 5:
  print("x is greater than 5")
else:
  print("X is less than 5")


#elif, else

a = 21
b = 27

if a > b:
  print("a is greater than b")
elif a == b:
  print("a is equal to b")
else:
  print("a is less than b")

  #short hand if-else (tenary)
  m = 21
  y = 27
  print("M") if m > y else print ("Y")

#pass statement
if a> b:
  pass

x is greater than 2
x is greater than 5
a is less than b
Y

In [ ]:
# ATM Withdrawal

balance = 10000
amount = int(input("Enter the amount for withdrawl: "))

"""1. if - amount must be  multiple of 100
   2. elif - amount must be greater than balance
   3. else -  show the remaining balance"""

if amount % 100 != 0:
  print("Must be a multiple of 100")
elif amount > balance:
  print("Insuffecient balance")

else:
  print("Please collect cash: ", amount)
  balance -= amount
  print("Current Balance: ", balance)

Enter the amount for withdrawl: 500
Please collect cash:  500
Current Balance:  9500

In [ ]:
# Login Authentication
"""1. saved username and password
   2. get userid, password from user
   3. if - given userid is not same as saved id print invalid
   4. elif -  given password is not same as saved passowrd print invalid
   5. else - print loginn successfully  """

saved_userid = "Manoj"
saved_password = 1234

user_id = str(input("Enter User ID: "))
password = int(input("Enter Password"))

if user_id != saved_userid:
  print("Invalid userId")
elif password != saved_password:
  print("Invalid password")

else:
  print("Login successful")

Enter User ID: Manoj Kumar
Enter Password123
Invalid userId

In [ ]:
#Combine login authentication + AtM withdrawl

saved_userid = "Manoj"
saved_password = 1234

user_id = str(input("Enter User ID: "))
password = int(input("Enter Password"))

if user_id != saved_userid:
  print("Invalid userId")
elif password != saved_password:
  print("Invalid password")

else:
  print("Login successful")
  balance = 10000

  print("\nATM Menu\n\n1. withdraw money\n2. check balance\n3. Exit")
  choice = int (input("\nEnter the option: "))

  if choice == 1:
    amount = int(input("\nEnter the amount to withdrawl:"))
    if amount % 100 != 0:
      print("Enter the amount multiple of 100")
    elif amount > balance:
      print("Insufficient balance")
    else:
      balance -= amount
      print("\nPlease collect he cash: ", amount)
      print("Current balance: ", balance)
  elif choice == 2:
    print("\nCurrennt Balnce = ", balance)
  elif choice == 3:
    print("\nThank You")
  else:
    print("\nInvalid choice")

Enter User ID: Manoj
Enter Password1234
Login successful

ATM Menu

1. withdraw money
2. check balance
3. Exit

Enter the option: 2

Currennt Balnce =  10000

In [ ]:
#Match statement

day = 3
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print("Invalid day")


month = 10
day = 5
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 10:
    print("October")
  case 1 | 2 | 3 | 4 | 5 if month == 2:
    print("Feb")
  case _:
    print("Invalid")

Wednesday
October

In [ ]:
#Even or odd
"""1. User Input
   2. if - user input % 2 == 0 -> print even
   3. else - odd """
number = int(input("Enter a number:  "))
print("Even:") if number % 2 == 0 else print("Odd")

Enter a number:  21
Odd

In [ ]:
#Positive , negative or Zero
"""1. User Input
   2. if - num > 0 - print positive
   3. elif - num < 0 - print negative
   4. else - print zero"""

number = int(input("Enter a number: "))
if number > 0:
  print("Positive")
elif number < 0:
  print("Negative")
else:
  print("Zero")

Enter a number: 10
Positive

In [ ]:

#Loops

""" While Loop    - while conditionn:
                        body


    1. start
    2. check condition -> false -> stop
        -> true -> execute
        -> update(increment / decrement)
"""

#print i as long as i is less than 7

i = 1
while i < 7:
  print(i)
  i += 1

# exit loop when i = 3
i = 1
while i < 7:
  print(i)
  if i == 3:
    break
  i += 1

#continue statemnt
i = 0
while i < 7:
  i += 1
  if i == 3:
    continue
  print(i)


#else statement

i = 1
while i < 7:
  print(i)
  i += 1
else:
  print("i is no longer less than 7")


#input until user quits

while True:
  number = input("Enter the number or 'q' to quit: ")
  if number.lower() == 'q':
    print("Exit")
    break
  print(int(number)**2)


#validate input
Age = input("Age: ")
while not Age.isdigit():
  print("age must be in digit only")
  Age = input("Age: ")
Age = int(Age)

1
2
3
4
5
6
1
2
3
1
2
4
5
6
7
1
2
3
4
5
6
i is no longer less than 7
Enter the number or 'q' to quit: q
Exit
Age: 21

In [ ]:
#countdown from 1 to 10

i = 1
while i <= 10:
  print(i)
  i += 1

# Countdown from 10 to 0
i = 10
while i >= 0:
  print(i)
  i -= 1

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#Sum of first 10 natural numbers
"""
1. i =1
2. sum = 0
3. loop with condition i <= 10
4. sum = i + sum
5. increment i += 1
6. ouside the loop print(sum)
"""

i = 1
sum = 0
while i <= 10:
  sum = i + sum
  i += 1
print(sum)

"""
1. user input
2. i = 1
3. factorial = 1
3. if user input < 0 - print("input cannot be negative")
4.elif user input == 0 - print ("Factorial of 0 is 1")
5. else - loop it untill i <= user input:
          factorial *= i
          i += 1
6.outside the loop print(factorial)


"""

num = int(input("Enter a number: "))
i = 1
factorial = 1
if num < 0:
  print("Input must be a positive number")
elif num == 0:
  print("Factorial of 0 is 1")
else:
  while i <= num:
    factorial *= i
    i += 1
print(factorial)

#reverse a number

"""
assign a number num = 1234
rev = 0
while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num //= 10
print(rev)

"""
num = int(input("Enter two or more digits number: "))
rev = 0
while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num //= 10
print(rev)

55
Enter a number: 2
2
Enter two or more digits number: 1234567
7654321

In [ ]:
# guess a correct number from 0 to 9
secret = 7
guess = ""
while guess != secret:

  guess = int(input("Enter the number:"))

print(guess,"is correct")

Enter the number:7
7 is correct

In [ ]:
#print digits of a number one by one
num = 123456789
i = 0
while i < num:
  digit = num % 10
  num //= 10
  print(digit)

9
8
7
6
5
4
3
2
1

In [ ]:
#multiplication table using while loop
num = int(input("Enter a number: "))
i = 1
while i <= 10:
  print(num, " * ", i, " = ", num * i)
  i += 1

Enter a number: 20
20  *  1  =  20
20  *  2  =  40
20  *  3  =  60
20  *  4  =  80
20  *  5  =  100
20  *  6  =  120
20  *  7  =  140
20  *  8  =  160
20  *  9  =  180
20  *  10  =  200

In [ ]:
"""
      ------------------------------------
      |Do i know the number of repetitions?|
      ------------------------------------
          ||                     ||
          \/                     \/
  --------------------     ---------------------
  |yes - use for loop |    |no - use while loop|
  --------------------     ---------------------

"""

In [ ]:
"""
for loop

syntax -   for variable in sequence:
            #code block

variable -> takes each value from the sequence, one by one
sequence -> can be a range(), list, tuple, string,.. etc




"""

In [ ]:
# For Loop

#Loop through a string
for x in "Manoj":
  print(x)
print("\n")

#Break statement
fruits = ["apple", "banana", "mango", "Guava"]
for x in fruits:
  print(x)
  if x == "banana":
    break
print("\n")
#continue statement
fruits = ["apple", "banana", "mango", "Guava"]
for x in fruits:
  if x == "mango":
    continue
  print(x)

print("\n")
#Range() function
for x in range(6):
  print(x)

print("\n")
#range(start, end)
for x in range (3, 10):
  print(x)
print("\n")

#range(start, end, increment value)
for x in range(2, 10, 4):
  print(x)

M
a
n
o
j


apple
banana


apple
banana
Guava


0
1
2
3
4
5


3
4
5
6
7
8
9


2
6

In [ ]:
#Else in for loop
for x in range(7):
  print(x)
else:
  print("finished")


print("\n")
#else will not be executed if loop stooped by break statement
for x in range(7):
  if x == 4:
    break
  print(x)
else:
  print("finished")


print("\n")

#nested for loop
adjective = ["red", "blue", "big", "tasty"]
fruits = ["apple", "banana", "mango", "Guava"]
for x in adjective:
  for y in fruits:
    print(x, y)


#pass statement
for x in [1, 2, 3]:
  pass

0
1
2
3
4
5
6
finished


0
1
2
3


red apple
red banana
red mango
red Guava
blue apple
blue banana
blue mango
blue Guava
big apple
big banana
big mango
big Guava
tasty apple
tasty banana
tasty mango
tasty Guava

In [ ]:
#add numbers 1 to 10
total = 0
for x in range(1, 11):
  total += x
print(total)

55

In [ ]:
# multiplication table
num = int(input("Enter a number: "))
for x in range(1, 11):
  print(num, " * ", x, " = ", num * x)

Enter a number: 5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [ ]:
#print even numbers between 1 to 20
for x in range(1, 20):
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18

In [ ]:
#print all the characters in the string "Pyhton
for x in "Pyhton":
  print(x)

P
y
h
t
o
n

In [ ]:
#print sum of numbers from 1 to 50
sum = 0
for x in range (1, 51):
  sum += x
print(sum)

print("\n")
#print the square of numbers from 1 to 10\
square = 1
for x in range(1, 10):
  square = x * x
  print(square)

1275


1
4
9
16
25
36
49
64
81

In [ ]:
fruits = ["apple", "banana", "mango", "Guava"]
for x in fruits:
  print("i like ", x)

i like  apple
i like  banana
i like  mango
i like  Guava

In [ ]:
string = "Hello"
reverse = ""
for x in string:
  reverse = x + reverse
print(reverse)

olleH

In [ ]:
for x in range(1, 100):
  if x % 5 == 0:
    print(x)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
string = "programming is fun"
count = 0
for x in string:
  if x in ['a', 'e', 'i', 'o', 'u']:
    count += 1
print(count)

5

In [ ]:
num = int(input("Enter a number: "))
fact = 1
for x in range(1, num+1):
  fact *= x
print(fact)

Enter a number: 5
120

In [ ]:
#fibonacci sequence
a = 0
b = 1
for x in range(10):
  print(a)

  a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [ ]:
#fibonacci sequence
""""
adding the previous two numbers in the sequence
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144
0, 0+1, 1+1, 1+2, 2+3, 3+5, 5+8, 8+13, 13+21, 21+34, 34+55, 55+89, 89+144

first two numbers are 0 and 1
inside loop -> adding the previous two numbers in the sequence(means 0 + 1)
update a and b for the next iteration(means a = b, b = next number)

"""
a = 0
b = 1
for x in range(10):
  next_number = a + b
  print(a)
  # Update a and b for the next iteration
  a = b
  b = next_number

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Initialize the first two numbers

a = 0

b = 1# Loop 24 times to get to the 25th number (since we start at index 0)
for i in range(24):

  # Calculate the next number

  next_number = a + b

  # Update a and b for the next iteration

  a = b

  b = next_number



print(f"The 25th Fibonacci number is: {b}")

The 25th Fibonacci number is: 75025

In [ ]:
#square of each number in the list
"""
input
loop through the input
x *= x
print(x)
"""
list = [1, 2, 3, 4, 5]
for x in list:
  x *= x
  print(x)


# doubled each number in a list
list = [1, 2, 3, 4, 5]
double_list = []
for x in list:
  doubled = x + x
  double_list.append(doubled)
print(double_list)



""""
Find the largest number

input = list
assume the first number is the largest => largest = list[0]

loop through the input
 if x  > largest:
  largest = x
print(largest)

"""
print("\n")
list = [ 2, 5, 10, 13, 12]
largest = list[0]
for x in list:
  if x > largest:
    largest = x
print(f"largest number in the list: {largest}")

1
4
9
16
25
[2, 4, 6, 8, 10]


largest number in the list: 13

In [ ]:
# print triangle pattern
for x in range(1,6):
  print("* " *x)

print("\n")


# print square pattern
num = int(input("Enter a number: "))
for x in range(num):
  print("x " * num)

*
* *
* * *
* * * *
* * * * *


Enter a number: 5
x x x x x
x x x x x
x x x x x
x x x x x
x x x x x

In [ ]:
# Print a right angled triangle
num = int(input("Enter a number: "))
for x in range(num):
  print("*" * num)
  num -= 1

Enter a number: 5
*****
****
***
**
*

In [ ]:
rows = 5
for x in range(0, rows):
  print(" " * (x), "*" * (rows - x))

 *****
  ****
   ***
    **
     *

In [ ]:
# Print a pyramid
num = int(input("Enter a number: "))
for x in range(1, num):
  if x % 2 != 0:
    print(" "* (num - x),"* " * x)

Enter a number: 10
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
#
num = int(input("Enter a number: "))
for x in range(1, num + 1):
  print(" " * (num - x), "*" * (2 * x - 1) )

Enter a number: 10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

In [ ]:
num = int(input("Enter a number: "))
for x in range(1, num + 1):
  for y in range(1, x + 1):
    print(y, end ="")
  print()

Enter a number: 5
1
12
123
1234
12345

In [ ]:
num = int(input("Enter a number: "))
counter = 1
for x in range(1, num + 1):
  for y in range(1, x + 1):
    print(counter, end =" ")
    counter += 1
  print()

Enter a number: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
num = int(input("Enter a number: "))
for x in range(1, num + 1):
  print(" " * (num - x), "*" * (2 * x - 1))

for y in range(num - 1, 0, -1):
   print(" " * (num - y), "*" * (2 * y - 1))

Enter a number: 5
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
# Print odd numbers
num = 5
for x in range(1, num + 1):
  print( 2 * x - 1)

1
3
5
7
9

In [ ]:
#
rows = int(input("Enter number of rows:"))


for i in range(1, rows + 1):
  if i % 2 != 0:
    print("* " * rows)
  if i % 2 == 0:
    print(" *" * (rows - 1))

Enter number of rows:7
* * * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
* * * * * * *

In [ ]:
#Print a multiplication table in grid form
rows = 5

for x in range(1, rows + 1):
  for y in range(1, rows + 1):
    print(x * y, end = "  ")
  print()

1  2  3  4  5
2  4  6  8  10
3  6  9  12  15
4  8  12  16  20
5  10  15  20  25

In [ ]:
rows = 5
for x in range(1, rows + 1):
  print(" " * (rows - x), "*" * x)

     *
    **
   ***
  ****
 *****

In [ ]:
row = int(input("Enter the number: "))
for x in range(1, row + 1):
  if x == 1:
    print("*" * row)
  elif x == row:
    print("*" * row)
  else:
    print("*" + " " * (row - 2)+ "*")

Enter the number: 7
*******
*     *
*     *
*     *
*     *
*     *
*******

In [ ]:
row = int(input("Enter the number: "))

for x in range(1, row + 1):
  print(" " * (row - x), end = "")
  for y in range(1, 2 * x):
    if y == 1 or y == 2 * x - 1 or x == row:
      print("*", end = "")
    else:
      print(" ", end= "")
  print()

Enter the number: 5
    *
   * *
  *   *
 *     *
*********

In [ ]:
row = 5
for x in range(1, row + 1):
  print(" " * (row), end = "")
  for y in range(1, row+1):
    if y == 1 or x == 1 or x == row or y == row :
      print("*", end = "")
    else:
      print(" ", end = "")
  print()

     *****
     *   *
     *   *
     *   *
     *****

In [ ]:

# Functions - fundamental building blocks
#           - reusable block of code
#           - execute when they are called are invoked
#           - enables better code oraganization

#Parameter - the variable listed in the function defination(fname) - Part of function defination
#argument - the actual value passed when calling the function("Manoj") - Part of function call

def my_function():
  print("The is a function")
my_function()


def my_function(fname):       # fname - is the parameter
  print(fname + "shake")      # shake - is the argument

my_function("Milk")
my_function('Strawberry ')
my_function("Blue Berry ")
print()

#Number of arguments(args)
def my_function(fname, lname):
  print(fname + " " + lname)
my_function("Manoj Kumar", "Konduru")

print()

# Arbitary Arguments(*args) - if the number of arguments are unknown

def my_function(*kids):
  print("The youngest child is " + kids[0])
my_function("Emil", "Tobias", "Linus")

print()

#Keyword Arguments - send arguments with key = value syntax
def my_function(child3, child1, child2):
  print("the youngest boy is " + child3)
my_function(child1 = "Manoj", child3 = "Grace", child2 = "k" )
print()
# Arbitary keyword Arguments(**kwargs) - if the number of Keyword Arguments is unknown.
def my_function(**kid):
  print("The last name of the kid is " + kid["lname"])
my_function(fname = "Manoj", lname = "Konduru")
print()

#Default Parameter value - if we calls the function without argument it uses the default value
def my_function(place = "Isreal"):
  print("Country name is: " + place)
my_function()
my_function("Usa")
my_function("Uk")

print()
#Passing list or dictonary etc as an argument
def my_function(vehicles):
  for x in cars:
    print(x)
cars = ["Ford", "Mustang", "Lambo"]
my_function(cars)

print()
#Return values -send back the results using the return keyword
def add(a, b):
  return a + b
print(add(21, 27))

def multiply(x):
  return 5 * x
print(multiply(20))

sum_results = add(2, 5)
multiply_results = multiply(7)
print(sum_results, multiply_results)

#Pass statement - cannot leave a function empty - in that case we can use pass statement to avoid error

def myFunction():
  pass

print()
#positional - only Arguments - ( , /)
def num(x, /, name):
  print(x, name)
num(21, name = "Manoj")

def num(x , /):
  print(x)
num(21)

# Keyword - only Argument - ( *, )
def num(*, x):
  print(x)
num(x = 21)
print()

# Combine positional - Only and Keyword - only arguments
def num(x, y, /, *, z):
  print(x + y + z)
num(1, 2, z = 3)

#Recursion -calls it sef to solve a problem

def factorial(x):
  if x == 1:
    return 1
  else:
    return x * factorial(x - 1)
factorial(5)

print()
def factorial(x):
  if x == 1:
    return 1
  else:
    result = x * factorial(x - 1)

    print(f"Returning: {x} * factorial({x - 1}) = {result}")
    return result
x = factorial(5)

The is a function
Milkshake
Strawberry shake
Blue Berry shake

Manoj Kumar Konduru

The youngest child is Emil

the youngest boy is Grace

The last name of the kid is Konduru

Country name is: Isreal
Country name is: Usa
Country name is: Uk

Ford
Mustang
Lambo

48
100
7 35

21 Manoj
21
21

6

Returning: 2 * factorial(1) = 2
Returning: 3 * factorial(2) = 6
Returning: 4 * factorial(3) = 24
Returning: 5 * factorial(4) = 120

In [ ]:
def fibonacci(n):
    if n == 0:
        result = 0
    elif n == 1:
        result = 1
    else:
        result = fibonacci(n-1) + fibonacci(n-2)
    return result
print(fibonacci(10))  # Output: 55

55

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print(f"Recursion Example Results: {tri_recursion(10)}")

1
3
6
10
15
21
28
36
45
55
Recursion Example Results: 55

In [ ]:
#Write a function greet() that prints "Hello, World!"

def greet():
  print("Hello, World!")
greet()

#Write a function that square(num) that returns the square of a number
def square(num):
  return num * num
num = int(input("Enter a number: "))
square(num)

Hello, World!
Enter a number: 2

4

In [ ]:
# write a function is_even(num) that returns True if the number is even else False
def is_even(num):
  if num % 2 == 0:
    return True
  else:
    return False
is_even(21)

False

In [ ]:
# Write a function sum_list(lst) that returns the sum of all elements in the list
def sum_list(lst):
  return sum(lst)
lst = [1, 2, 3, 4, 5, 6, 7]
sum_list(lst)

28

In [ ]:
def fact(n):
  if n > 0:
    result = n * fact(n - 1)
    print(result)
  else:
    result = 1
  return result
print(f"Factorial of 5 is {fact(5)}")

1
2
6
24
120
Factorial of 5 is 120

In [ ]:
# Write a functioin that reverse a string

def reverse_string(string):
  return string[::-1]
print(reverse_string("Hello, How are you"))

# Write a function that counts the number of vowels

def count_vowels(string):
  vowels = "aeiouAEIOU"
  count = 0
  for char in string:
    if char in vowels:
      count += 1
  return count
print(count_vowels("Hii whatsupppp"))

uoy era woH ,olleH
4

In [ ]:
#write a Function that checks if the word is a palindrome
def is_palindrome(string):
  if string == string[::-1]:
    print("Yeah it's a palindrome")
  else:
    print("Not a palindrome")

is_palindrome("MM")

Yeah it's a palindrome

In [ ]:
def max_in_list(list):
  largest = list[0]
  for i in list:
    if i > largest:
      largest = i
  return largest
list = [1, 2, 3, 4, 5, 17, 7]
max_in_list(list)

17

In [ ]:
# write a function that returns sum of digits of a number
def sum_digits(num):
  if num == 0:
    return 0
  else:
    return num % 10 + sum_digits(num // 10)
sum_digits(123)

6

In [ ]:
# Write a functioin that return all prime numbers up to n

def prime_numbers(n):
 for i in range(2, n + 1):
  for j in range(2,  i):
    if i % j == 0:
      break
  else:
      print(i)

prime_numbers(10)

2
3
5
7

#Python scope
A variable is only available from inside  the region is created. This is called scope

#**Local scope**
Created inside the function and it can only be used inside that function.

In [ ]:
def myFunc():
  i = 21
  print(i)
myFunc()

21

#**Function inside the function**

Local variable can be used for any function inside the function but cannot be used outside

In [ ]:
def myfunc():
  x = 21
  def innerFunc():
    print(x)
  innerFunc()
myFunc()

21

#**Global scope**

A variable created inside the body of the python code and can be used inside and outside of a function.

In [ ]:
x = 27
def myFunc():
  print(x)

myFunc()
print(x)

27
27

#**Naming variable**
if you create a variabe with same name inside and outside of a function Python will treat them as two seperate variables - one available in the global scope(outside the function) and other in the local scope(inside the function)

In [ ]:
x = 300
def myfunc():
  x = 200
  print(x)
myfunc()

print(x)

200
300

#**Global Keyword**
if yo need to created a global variable inside a function then you can use **global** keyword

**if you want to change the global variable inside a function you can use "global" keyword**

In [ ]:
def myFunc():
  global i
  i = 27
  print(i)
myFunc()
print(i)


x = 21
def myfunc():
  global x
  x = 27
  print(x)
myfunc()
print(x)

27
27
27
27

#nonlocal Keyword

The **nonlocal** keyword is used to work with variable inside nested functions
**nonlocal** keyword makes the variable belongs to the outer function

In [ ]:
def myfunc1():
  x = 21
  def myfunc2():
    nonlocal x
    x = 27
    print(x)
  myfunc2()
print(x)
myfunc1()

27
27

In [ ]:
#Go to next page for Arrays

#https://colab.research.google.com/drive/1bGGPWDTEgPCFNoo1rpj2AdLSg7XqQIN7#scrollTo=l0F_EV8C-eqJ

In [ ]:
arr[]= int(input())

SyntaxError: invalid syntax (ipython-input-2947771705.py, line 1)

In [ ]:
def TwoSum(arr, target):
    for i in range(len(arr)):
        for j in range(i+1, len(arr)):
            if arr[j] + arr[i] == target:
                return i,j
    return False
arr = [2, 3, 7, 5, 8]
target = 8
print(TwoSum(arr, target))

(1, 3)